<div class="body_page">
  <!--<div class="two-conteneur">
      <div class="container-left">
          <h5>Nom Admin</h5>
          <br><br>
          <h2>Compagnie</h2>
      </div>
      <div class="container-right">
          <h3>Liste des Compagnies</h3>
          <div class="enregistrement">
              <h5>2</h5>
              <h5>Deliveary 123333</h5>
              <div>
                  <i class="fa-solid fa-trash admin_corbeille" ></i>
                  <i class="fa-solid fa-pen admin_modifier"></i>
              </div>
          </div>
      </div>
  </div>-->
    <form [formGroup]="aeroportForm" (ngSubmit)="onSubmit()" >
        <div class="formulaire-admin-list">
            <div class="">
                <div class="content-flex-form">
                    <div class="margin-top-div">
                      <label for="nom">Nom de l'aéroport :</label>
                      <input type="text"  id="nom" formControlName="nom">
                    </div>
                    <div class="margin-top-div">
                      <label for="codeIATA">Code IATA :</label>
                      <input type="text"  id="codeIATA" formControlName="codeIATA">
                    </div>
                </div>
                <div class="content-flex-form">
                    <div class="margin-top-div">
                      <label for="longitude">Longitude :</label>
                      <input type="text"  id="longitude" formControlName="longitude">
                    </div>
                    <div class="margin-top-div">
                      <label for="latitude">Latitude :</label>
                      <input type="text"  id="latitude" formControlName="latitude">
                    </div>
                </div>
                <div class="content-flex-form">
                    <div class="margin-top-div">
                      <label for="altitude">Altitude :</label>
                      <input type="text"  id="altitude" formControlName="altitude">
                    </div>
                    <div class="margin-top-div">
                      <label for="altitude">Capacité Parking :</label>
                      <input type="text"  id="capaciteParking" formControlName="capaciteParking">
                    </div>
                </div>
                <div class="content-flex-form">
                  <div class="margin-top-div">
                    <label for="altitude">Nombre de pistes :</label>
                    <input type="text"  id="nombreDePistes" formControlName="nombreDePistes">
                  </div>
                  <div class="margin-top-div">
                      <label for="ville.id">Nom Ville :</label>
                      <select id="ville.id" formControlName="ville.id" (change)="onVilleChange($event)">
                        @for (ville of villes; track ville.id) {
                          <option value="{{ville.id}}">{{ville.nom}}</option>
                        }
                      </select>
                  </div>
              </div>
                <!--<div class="content-flex-form">
                    <div class="margin-top-div">
                        <label for="logoCompagnie">Logo Compagnie</label>
                        <input type="file" id="logoCompagnie" formControlName="logoCompagnie">
                    </div>
                </div>-->
            </div>
            <div class="btn_enregistrement">
                <button type="submit">Enregistrer</button>
            </div>
        </div>
    </form>
</div>
