  <div class="body_page">
    <div class="title-container">
      <h1>FAQ</h1>
      <img alt="faq_icon" width="30" height="30">
    </div>
    <form  class="form_img_flex">
      <div class="container-left">
        <h1>Formulaire</h1>
        <br>
        <div>
          <h4>Catégorie de la question</h4>
          <input type="text" formControlName="questionCategorie" required>
        </div>
        <br>
        <div>
          <h4>Réponse</h4>
          <input type="text" formControlName="reponse">
        </div>
        <br>
        <button type="submit" >Envoyer</button>
      </div>
      <div class="container-right">
        <img  alt="faq" width="350" height="350">
      </div>
    </form>
  </div>
  