<div class="body_page">
    <div class="table-container">
      <div style="display: flex;">
        <div class="ajout_btn">
          <img [ngSrc]="ajouter" alt="ajouer" width="20" height="20">
          <h6><a routerLink="/formulaireAvion"> Ajouter Avion</a></h6>
        </div>
          <select name="" id="">
            <optgroup>
              <option value="Tous">Tous</option>
              <option value="Tous">Pilotes</option>
              <option value="Tous">Escortes</option>
              <option value="Tous">Service de nettoyage</option>
            </optgroup>
          </select>
          <input type="date">
      </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Matricule</th>
              <th>Capacité Total</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of avionListe">
              <td>
                {{p.id}}
              </td>
              <td>{{p.nom}}</td>
              <td>{{p.matricule}}</td>
              <td>{{p.capaciteTotale}}</td>
              <td>{{p.status}}</td>
              <td><button class="btn_action_two" (click)="p.id !== undefined ? deleteAvion(p.id) : null"><i class="fa-solid fa-trash" ></i></button></td>
              <td><a class="btn_action_one"><i class="fa-solid fa-pen" [routerLink]="['/avion/update/',p.id]"></i></a></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>