<div class="body_page">
    <div class="two-conteneur">
        <div class="container-left">
            <h5>Mamoutou yalcouyé</h5>
            <br><br>
            <h2>Passagers</h2>
        </div>
        <div class="container-right">
            <h3>Liste des Passagers</h3>
            <div class="enregistrement">
                <h5>2</h5>
                <h5>Deliveary 123333</h5>
                <div>
                    <i class="fa-solid fa-trash admin_corbeille" ></i>
                    <i class="fa-solid fa-pen admin_modifier"></i>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="avionForm" (ngSubmit)="submitAvion()">
        <div class="formulaire-admin-list">
            <div class="">
                <div class="content-flex-form">
                    <div class="margin-top-div">
                        <h3>Nom</h3>
                        <input type="text" id="nom" formControlName="nom">
                    </div>
                    <div class="margin-top-div">
                        <h3>Matricule</h3>
                        <input type="text" id="matricule" formControlName="matricule">
                    </div>
                </div>
                <div class="content-flex-form">
                    <div class="margin-top-div">
                        <h3>Capacité Totale</h3>
                        <input type="text" id="capaciteTotale" formControlName="capaciteTotal">
                    </div>
                    <div class="margin-top-div">
                        <h3>Status</h3>
                        <select id="status" formControlName="status">
                            <option value="DISPONIBLE">DISPONIBLE</option>
                            <option value="MAINTENANCE">MAINTENANCE</option>
                            <option value="OCCUPE">OCCUPE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn_enregistrement">
                <button type="submit">Enregistrer</button>
            </div>
        </div>
    </form>
</div>