<div class="body_page">
    <div class="table-container">
      <div style="display: flex;">
        <div class="ajout_btn">
          <img [ngSrc]="ajouter" alt="ajouer" width="20" height="20">
          <a routerLink="/formulairePassager"> Ajouter Passager</a>
        </div>
          <select name="" id="">
            <optgroup>
              <option value="Tous">Tous</option>
              <option value="Tous">Pilotes</option>
              <option value="Tous">Escortes</option>
              <option value="Tous">Service de nettoyage</option>
            </optgroup>
          </select>
          <input type="date">
      </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>NumeroDePasseport</th>
              <th>NumeroDeVisa</th>
              <th>Reservation</th>
              <th>Siege</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of passagerList">
              <td>
                {{p.id}}
              </td>
              <td>{{p.nom}}</td>
              <td>{{p.prenom}}</td>
              <td>{{p.numeroDePassPort}}</td>
              <td>{{p.numeroDeVisa}}</td>
              <td>{{p.reservation?.id}}</td>
              <td>{{p.siege?.numero}}</td>
              <td></td>
              <td> <button class="btn_action_two" (click)="p.id !== undefined ? deletePassager(p.id) : null"><i class="fa-solid fa-trash"></i></button></td>
              <td><button class="btn_action_one" [routerLink]="['/passager/update',p.id]"><i class="fa-solid fa-pen"></i></button></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>