<div class="body_page">
    <div class="table-container">
        <div style="display: flex;">
          <div class="ajout_btn">
            <img [ngSrc]="ajouter" alt="ajouer" width="20" height="20">
            <h6><a href="" routerLink="/formulairePersonnels"> Ajouter Personnels</a></h6>
          </div>
            <select name="" id="">
              <optgroup>
                <option value="Tous">Tous</option>
                <option value="Tous">Pilotes</option>
                <option value="Tous">Escortes</option>
                <option value="Tous">Service de nettoyage</option>
              </optgroup>
            </select>
            <input type="date">
        </div>
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Rôle</th>
              <th>Email</th>
              <th>Password</th>
              <th>Tel</th>
              <th>Service</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pilote</td>
              <td>Pilote</td>
              <td>Pilote</td>
              <td>Pilote</td>
              <td>Pilote</td>
              <td><i class="fa-solid fa-trash btn_action_two" ></i></td>
              <td><i class="fa-solid fa-pen btn_action_one"></i></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>